.titles {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    margin: 2px solid #fff;
    background-color: #fff;
  }

  .titles h1 {
    font-size: 18px;
  }
   
   .button{
    color:rgb(255, 255, 255)
}
